ul {
  list-style-type: none;
}
.logo-blue {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
  text-decoration: none;
}
.logo-black {
  color: black;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
  text-decoration: none;
}
.logo-white {
  color: white;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
  text-decoration: none;
}
#email-header {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  text-decoration: none;
}
#email-header:hover,
#email-header:focus {
  color: #2196f3;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  text-decoration: none;
}
#phone-header {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  text-decoration: none;
}
#phone-header:hover,
#phone-header:focus {
  color: #2196f3;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  text-decoration: none;
}
.mini-links a {
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  text-decoration: none;
}

.mini-links a:hover {
  color: #2196f3;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  text-decoration: none;
}

.header-button {
  background: #2f303a;
}

#title-solutions {
  color: white;
  font-size: 44px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 2.64px;
  word-wrap: break-word;
}
#button-blue {
  background-color: #2196f3;
  border-radius: 4px;
  border-style: none;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}

.desc-title {
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}
.desc-text {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.title-text {
  color: #212121;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.worker-name {
  color: #212121;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}
.worker-job {
  color: #757575;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.button-portfolio button {
  color: #212121;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  border-style: none;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.button-portfolio button:hover {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  background-color: #2196f3;
  border-radius: 4px;
}

.gallery-obj {
  background: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: #eeeeee;
  width: 370px;
  height: 404px;
}

.gallery-title {
  color: #212121;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  text-decoration: none;
}

.gallery-text {
  color: #757575;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  text-decoration: none;
}

.footer {
  background: #2f303a;
}
.footer > address {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}
