
.header {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        @media screen and (min-width: 480px) {
          max-width: 100%;
        }
        @media screen and (min-width: 768px) {
            max-width: 768px;
          }
        @media screen and (min-width: 1200px) {
        max-width: 1200px;
        }
      }
    border-bottom: 1px solid #ececec;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .active {
        color: getColor(accent-color)
    }
    &__contacts {
        display: flex;
        
    }
    &__list,
    &__nav {
        @media screen and (max-width: 479px) {
            display: none;
        }
    }
    .nav {
        &__list{
            display: flex;
            gap: 50px;
            padding: 32px 0;
            @include match(mobile) {
                display: none;
            }
    
            @include match(tablet) {
                list-style-type: none;
                display: flex;
                gap: 50px;
            }
    
            @include match(desktop) {
                list-style-type: none;
                display: flex;
                gap: 50px;
            }
        }
        &__item{
            position: relative;
        }
        &__link{
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: inherit;
            font-weight: 500;
            letter-spacing: 0.28px;
            padding-top: 32px;
            padding-bottom: 32px;
        }
        &__link:hover,
        &__link:focus{
            color: getColor(accent-color);
        }
        &__link--active{
            color: getColor(accent-color);
        }
        &__link--active::after{
            content: "";
            position: absolute;
            height: 4px;
            left: 0;
            top: 46px;
            width: 100%;
            border-radius: 2px;
            background: getColor(accent-color);
        }
    }
    
    .contact {

            @include match(mobile) {
                display: none;
            }
            @include match(tablet) {
                margin-left: auto;
                display: block;
                gap: 10px;
                color: getColor(secondary-color);
            }
            @include match(desktop) {
                margin-left: auto;
                display: flex;
                gap: 40px;
            }
        
        &__link{
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: getColor(secondary-color);
            display: inline-block;
            text-decoration: none;
        }
        &__link--header {
            font-weight: 500;
            letter-spacing: 0.28px;
            fill: getColor(secondary-color);
        }
        &__link:hover,
        &__link:focus{
            color: getColor(accent-color);
            fill: getColor(accent-color);
        }
        &__link--header--email {
            font-weight: 500;
            letter-spacing: 0.28px;
            fill: getColor(secondary-color);
            @include match(tablet) {
                margin-bottom: 10px;
            }
            @include match(desktop) {
                margin-bottom: 0px;
                font-size: 14px;
            }
        }
        &__icon{
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-right: 10px;
        }
        &__icon--phone{
            margin-bottom: -2px;
        }
    }
    
}