.logo {
    margin-right: 93px;
    color: var(--accent-color);
    font-size: 26px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.78px;
    font-weight: 700;
}
.footer__logo {
    margin: 0;
}
.logo__black {
    color: var(--black-logo)
}
.logo__white {
    color: var(--white-logo)
}