.logo {
    color: getColor(accent-color);
    font-size: 26px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.78px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;

    @include match(tablet){
        margin-right: 88px;
    }
    @include match(desktop) {
        margin-right: 93px;
        font-size: 26px;
    }
}
.footer__logo {
    margin: 0;
}
.logo__black {
    color: getColor(black-logo)
}
.logo__white {
    color: getColor(white-logo)
}