body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    color: getColor(primary-color);
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden; 
      }

    @include match(mobile) {
        overflow-x: hidden;
    }
}