h1, h2, input, h3,
p, ul, a, svg {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}


