@mixin soc-icon{
    width: 20px;
    height: 20px;
}
@mixin section-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}
@mixin button{
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
@mixin match($screen) {
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;

    @if $screen == mobile {
        @media screen and (min-width: $mobile) {
        @content;
        }
    } @else if $screen == tablet {
        @media screen and (min-width: $tablet) {
        @content;
        }
    } @else if $screen == desktop {
        @media screen and (min-width: $desktop) {
        @content;
        }
    } @else if $screen == retina {
        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        @content;
        }
    }
}